<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/BuildCoo.png" alt="clean-usnob" width="160" height="150">
    </td>
    <td width="75%" valign="middle">
      <p1>
      <strong>Data Analyst Intern</strong>
      <br>BuildCoo Technology | May 2023 - Aug 2023
      <br> <small> 
        <li>Independently built the Douyin e-Commerce Advertising Data Analysis Dashboard, a visual interactive tool offering campaign insights, using Python, Requests, Dash, Plotly and MongoDB. Guided by a mentor.</li>
        <li>Segmented the project into three iterative phases for tackling new technology challenges and business needs. Delivered a basic functional software version mid-project, recognized by my mentor and the advertising team.</li>
        <li>Gained experience in communicating with business stakeholders, understanding their needs, and delivering aligned software features.</li>
        <li>Developed working knowledge in advertising data analysis, translating business challenges into software requirements, and applying relevant technologies.</li>
        </small> </p1>
    </td>
  </tr>
</tbody></table>

