<table style="padding-top: 10px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/Forage.jpg" alt="clean-usnob" width="150" height="120">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Back-End Engineering Job Simulation</strong>
      <br>Forage Lyft | Sep 2023 | <a href="https://github.com/EvaLin2951/forage-lyft.git">Detail</a>
      <br><br> <small> 
        Developed a predictive maintenance feature for Lyft's rental car fleet to determine service needs. Designed a scalable system architecture with UML diagrams and refactored Python code for better readability and maintainability. Implemented unit tests and adopted test-driven development to support swift feature development.</small> </p>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 20px;width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/BuildCoo.jpg" alt="clean-usnob" width="120" height="120">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Data Analyst Intern</strong>
      <br>BuildCoo Technology | May 2023 - Aug 2023 | <a href="https://github.com/EvaLin2951/douyin-ad-dashboard.git">Detail</a>
      <br><br> <small> 
        Created a Douyin e-Commerce Advertising Data Analysis Dashboard with Python, Requests, Dash, Plotly, and MongoDB. The project was divided into three iterative phases, delivering a functional version mid-project that received recognition from the advertising team. This role involved advertising data analysis, stakeholder communication, and translating business needs into effective software solutions.</small> </p>
    </td>
  </tr>
</tbody></table>

