<h2 style="padding-top: 10px;"></h2>
<ul>
  <li>Programming Languages: Python, Java, C, R, Bash, HTML, CSS, JavaScript, UML, MIPS Assembly, OCaml</li>
  <li>Frameworks & Technologies: MongoDB, SQL, Pandas, NumPy, ReactJS, Tailwind, Flask, ExpressJS, NodeJS, Dash, Plotly, Streamlit, RESTful API</li>
  <li>Development Skills: Data Structures and Algorithms, Object-Oriented Programming, Test-Driven Development</li>
  <li>Developer Tools: OpenAI, VS Code, IDEA, Vite, Git, GitHub, Ngrok, Postman, Cloudinary</li>
  <li>Languages Spoken: English, French, Mandarin</li>
  <li>Fun fact: I once received an invitation to study illustration at UAL Camberwell College 🎨, yet I chose to immerse myself in programming. Each line of code is a stroke of the brush I draw to create innovative solutions :D</li>
</ul>
