<table style="padding-top: 10px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/Midjourney.jpg" alt="clean-usnob" width="120" height="120">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Midjourney & DALL-E Clone</strong>
      <br>MERN stack, Tailwind, OpenAI, Vite, Cloudinary | <a href="https://github.com/EvaLin2951/dall-e.git">Github</a>
      <br><br> <small> 
        Created an AI-driven web application for generating visual content, leveraging the MERN stack, OpenAI's DALL-E and Cloudinary, inspired by the capabilities of MidJourney and DALL-E. Gained experience in both full-stack development and AI integrations, especially experienced in web front-end development using ReactJS, Tailwind CSS , and Vite.
    </td>
  </tr>
</tbody></table>

