<table style="padding-top: 10px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/Midjourney.jpg" alt="clean-usnob" width="150" height="150">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Midjourney & DALL-E Clone</strong>
      <br>MERN stack, Tailwind, OpenAI, Vite, Cloudinary | <a href="https://github.com/EvaLin2951/dall-e.git">Github</a>
      <br><br> <small> 
        An AI-driven web application for generating visual content, leveraging the MERN stack, OpenAI's DALL-E and Cloudinary, inspired by the capabilities of MidJourney and DALL-E.</small></p>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 20px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/McHacks.jpg" alt="clean-usnob" width="150" height="150">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>McHacks 11: Virtual Doctor ChatBot</strong>
      <br>Python, Gradio, OpenAI, Langchain | <a href="https://github.com/EvaLin2951/Virtual-Doctor-ChatBot.git">Github</a>
      <br><br> <small> 
        An avant-garde, AI-powered web application providing humorous and unconventional medical advice for entertainment. Utilized OpenAI API and Langchain library, aiming to merge humour with technology.</small></p>
    </td>
  </tr>
</tbody></table>

<table style="padding-top: 20px; width:100%;border:0px;border-spacing:0px;border-collapse:separate;"><tbody>  
  <tr>
    <td style="padding-right: 20px; width:25%;vertical-align:middle">
      <img src="assets/img/Slack.jpg" alt="clean-usnob" width="150" height="150">
    </td>
    <td width="75%" valign="middle">
      <p>
      <strong>Slack CoinBot</strong>
      <br>Python, Bolt (Slack API SDK), MongoDB | <a href="https://github.com/EvaLin2951/slack-coinbot.git">Github</a>
      <br><br> <small> 
        A CoinBot for Slack, facilitating coin account operations via Slash Commands. Used Slack API for command detection and MongoDB for backend transaction processing.</small></p>
    </td>
  </tr>
</tbody></table>
